{{ define "posts" }}
{{ $isTagPage := eq .Type "tags" }}
<div>
  <div class="position-relative">
    <div>
      {{ if $isTagPage }}
      <div class="TableObject border-bottom border-gray-light py-3">
        <div class="user-repo-search-results-summary TableObject-item TableObject-item--primary v-align-top">
          <strong>{{ len .Pages }}</strong>
          results
          for <strong>{{ .Title }}</strong>
        </div>
        <div class="TableObject-item text-right v-align-top">
          <a class="issues-reset-query text-normal d-inline-block ml-3" href="{{ "/post/" | relLangURL }}">
            <svg class="octicon octicon-x issues-reset-query-icon mt-1" viewBox="0 0 16 16" version="1.1" width="16"
              height="16">
              <path fill-rule="evenodd"
                d="M3.72 3.72a.75.75 0 011.06 0L8 6.94l3.22-3.22a.75.75 0 111.06 1.06L9.06 8l3.22 3.22a.75.75 0 11-1.06 1.06L8 9.06l-3.22 3.22a.75.75 0 01-1.06-1.06L6.94 8 3.72 4.78a.75.75 0 010-1.06z">
              </path>
            </svg>
            Clear filter
          </a>
        </div>
      </div>
      {{ else }}
        {{ if gt (len .Site.Taxonomies.tags) 0 }}
          {{ partial "tags.html" . }}
        {{ end }}
      {{ end }}
      <ul>
        {{ range .Paginator.Pages }}
        <li class="col-12 d-flex width-full py-4 border-bottom color-border-secondary public source">
          <div class="col-12 d-inline-block">
            <div class="d-flex width-full flex-items-center position-relative mb-1">
              <svg class="octicon octicon-repo mr-2 text-gray flex-shrink-0" viewBox="0 0 16 16" version="1.1"
                width="16" height="16">
                <path fill-rule="evenodd"
                  d="M2 2.5A2.5 2.5 0 014.5 0h8.75a.75.75 0 01.75.75v12.5a.75.75 0 01-.75.75h-2.5a.75.75 0 110-1.5h1.75v-2h-8a1 1 0 00-.714 1.7.75.75 0 01-1.072 1.05A2.495 2.495 0 012 11.5v-9zm10.5-1V9h-8c-.356 0-.694.074-1 .208V2.5a1 1 0 011-1h8zM5 12.25v3.25a.25.25 0 00.4.2l1.45-1.087a.25.25 0 01.3 0L8.6 15.7a.25.25 0 00.4-.2v-3.25a.25.25 0 00-.25-.25h-3.5a.25.25 0 00-.25.25z">
                </path>
              </svg>
              <h3 class="wb-break-all mb-0 flex-auto min-width-0">
                <a class="text-bold" href="{{ .Permalink }}">
                  <span class="repo" title="{{ .Title }}">{{ .Title }}</span>
                </a>
              </h3>
            </div>

            {{ $summary := partial "seo/summary.html" (dict "page" . "limit" 200) }}

            {{ with $summary }}
            <div name="summary" class="pinned-item-desc text-gray text-small d-block mt-2 mb-3">
              {{ . }}
            </div>
            {{ end }}

            <div class="f6 text-gray mt-2">
              {{ with .Params.categories }}
              <span class="post-preview-categories">
                {{ range $index, $category := (first 3 .) }}
                {{ with $.Site.GetPage (printf "/categories/%s" ($category | urlize)) }}
                <a class="muted-link post-preview-category" href="{{ .RelPermalink }}">{{ $category }}</a>
                {{ end }}
                {{ end }}
              </span>
              {{ end }}

              Created
              <relative-time datetime="{{ .PublishDate.Format " Mon, 02 Jan 2006 15:04:05 -0700" }}" class="no-wrap"
                title="{{ .PublishDate.Format " Mon, 02 Jan 2006 15:04:05 -0700" }}">
                {{ .PublishDate.Format "Mon, 02 Jan 2006 15:04:05 -0700" }}
              </relative-time>
              {{ with .Params.readingTime }}
              <span class="file-info-divider"></span>
              {{ . }} min read
              {{ end }}
            </div>
          </div>
        </li>
        {{ end }}
      </ul>
      <div class="paginate-container">
        <div class="BtnGroup">
          {{ if .Paginator.HasPrev }}
          <a rel="nofollow" class="btn btn-outline BtnGroup-item" href="{{ .Paginator.Prev.URL }}">Previous</a>
          {{ else }}
          <button class="btn btn-outline BtnGroup-item" disabled="disabled">Previous</button>
          {{ end }}
          {{ if .Paginator.HasNext }}
          <a rel="nofollow" class="btn btn-outline BtnGroup-item" href="{{ .Paginator.Next.URL }}">Next</a>
          {{ else }}
          <button class="btn btn-outline BtnGroup-item" disabled="disabled">Next</button>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</div>
{{ end }}
